[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlmodel = "*"
openai-whisper = "*"
fastapi = {extras = ["all"], version = "*"}
streaming-form-data = "*"
textual = "*"

[dev-packages]
pytest = "*"
faker = "*"
textual-dev = "*"

[requires]
python_version = "3.12"
